/* import font from google fonts Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to left bottom,
    #c2d7e1,
    #9ab9c8,
    #739bb0,
    #4b7f99,
    #186383
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
