.about-and-contact-main {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  color: rgb(255, 255, 255);
}
.about-and-contact-main h1 {
  align-self: center;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
}

.about-and-contact-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 4rem 2rem 4rem;
  margin: 5% 15%;
  height: 50%;
  background-color: rgb(37, 34, 34);
  color: white;
}
.about-and-contact-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-and-contact-article div p {
  margin-bottom: 1rem;
  font-size: 16px;
}
.about-and-contact-article h2 {
  align-self: center;
  margin-bottom: 12%;
}

.profile-pic {
  max-width: 70%;
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 5%;
}
.education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.education h2 {
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.education div h3 {
  margin-bottom: 7px;
  margin-top: 1rem;
}
.education div h4 {
  margin-left: 1rem;
}
.education div p {
  margin-bottom: 5px;
  margin-left: 1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.experience h2 {
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* mobile version */

@media (max-width: 600px) {
  .about-and-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    margin: 5% 10%;
    border-radius: 2px;
  }
  .about-and-contact-main h1 {
    align-self: center;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .about-and-contact-article div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 16px;
  }
  .profile-pic {
    max-width: 80%;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 0;
  }
}
