.hero-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25rem;
}
.footer {
  position: absolute;
  padding-left: 1rem;
  bottom: 0;
  left: 0;
  height: 2rem;
  color: white;
  font-size: 16px;
}
/* mobile version */

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .hero-text {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
