.page-header {
  height: 4rem;
  width: 100%;
}

.home-header {
  position: absolute;
  background-color: transparent;
  width: 100vw;
}

.list-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 2rem;
  height: fit-content;
  background-color: transparent;
  position: absolute;
}

.list-menu a {
  padding-left: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.list-menu a:hover {
  color: #fff;
  text-decoration: underline;
}

.hamburger-menu {
  padding: 1rem;
  display: none;
}

.hamburger-menu__line {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .list-menu {
    position: absolute;
    background-color: rgb(42, 42, 42);
    box-shadow: 1px 6px 10px -1px rgba(0, 0, 0, 0.39);
    top: 0%;
    height: 30%;
    z-index: 1;
    min-width: 80%;
    padding: 0 0 1rem 0;
  }
  .list-menu {
    animation: dropDown 0.2s ease-in-out;
  }
  @keyframes dropDown {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .list-menu a {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 1rem;
    width: 20%;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
  }
  .close-menu {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
  }
}
